body
{
  background-color: black;
  text-align: center;
}
.name
{
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  color: white;
  text-shadow: 2px 4px 8px #FF0000;
}
.abcd
{
  display: inline-block;
  margin: 50px;
  border-radius: 10px;
}
.a
{
  color: white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  margin: 20px;
}
footer
{
  text-align: center;
  color: white;
  font-size: 30px;
}
